:root {
    --white: #fff;
    --gray-100: #e1e1e6;
    --gray-300: #c4c4cc;
    --gray-400: #8d8d99;
    --gray-600: #323238;
    --gray-700: #29292e;
    --gray-800: #202024;
    --gray-900: #121214;

    --green-400: #03d193;
    --green-450: #06b883;
    --green-500: #02855e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--gray-900);
    color: var(--white);
    -webkit-font-smoothing: antialiased; /*Melhora caligrafia de fontes externas*/
}

body, input, button, textarea {
    font-family: 'roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;

}

button:focus {
    outline: none;
}

.feedContainer {
    margin: 1em;
}

