.header {
    display: flex;
    background-color: var(--gray-700);
    padding: 1.25rem 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-size: 1.6em;
}

.header img {
    width: 55px;
}